<%= form_for(@profile, :html => { :multipart => true }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :username %>
  <%= f.text_field :username, { placeholder: "User Name"} %> <br>
  <%= f.label :password %>
  <%= f.text_field :password, { placeholder: "Password"} %> <br>
  <%= f.label :firstname %>
  <%= f.text_field :firstname, { placeholder: "First Name"} %> <br>
  <%= f.label :lastname %>
  <%= f.text_field :lastname, { placeholder: "Last Name"} %> <br>
  <%= f.label :email %>
  <%= f.text_field :email, { placeholder: "Email"} %> <br>
  <%= f.label :activated %>
  <%= f.check_box :activated %> <br>
  <%= f.file_field :photo %> <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





